a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color:black;
    color:rgb(210, 210, 210);
    font-family: sans-serif;
    height:100%;
    line-height: 1.5;
    margin:0;
    width:100%;
}

#amount {
    font-family: "press start 2p";
    font-size: 18px;
    margin-left: 4px;
}

.gallery {
    cursor: pointer;
    display:flex;
    flex-wrap: wrap;
    gap:2px;
    justify-content:space-between;
    padding-bottom:26px;
    width:100%;
    z-index:1;
}

.gallery img {
    width:146px;
}

h1 {
    cursor: pointer;
    font-family: "avenir black";
    font-size:120px;
    font-weight:bolder;
    letter-spacing: -1.5px;
    margin:10px 0 0 0;
}

h2 {
    font-family: "avenir black";
    font-size: 24px;
    letter-spacing: -1px;
    margin:0;
    padding-top:25px;
    text-decoration: underline;
}

h3 {
    font-size: 32px;
    margin: -15px 0 15px 0;
}

header {
    align-items:center;
    display:flex;
    justify-content: space-between;
}

#hero {
    margin-right: 32px;
    position:absolute;
    right:0;
    width: 510px;
    z-index:-1;
}

#logo {
    padding-top:10px;
    margin:0; 
    width:120px;
}

main {
    min-height:100vh;
    min-width:100vw;
}

.mint {
    font-size: 20px;
    margin-right: -8px;
}

#minted {
    display: inline-block;
    font-family: sans-serif;
    font-size: 18px;
}

p {
    font-family: "press start 2p";
    font-size:12px;
    line-height:20px;
    padding-top:6px;
}

.pad {
    margin:8px 0 65px 0;
}

#screen {
    background:linear-gradient(180deg, transparent, black 68%);
    bottom:0;
    height:150vh;
    opacity:0.89;
    margin-bottom:-440px;
    position:absolute;
    width: 100%;
    z-index:-1;
}

.social {
    font-size: 14.5px;
    letter-spacing:-0.5px;
    margin-right: 20px;
    text-decoration: none;
    text-transform:uppercase;
}

.social-space {
    font-family: "avenir black", "Roboto Flex";
    margin-left:15px;
}

.purchase { 
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#tokens {
    color:indigo;
    margin-top:15px;
    text-align:center;
}

#txn {
    font-family: sans-serif ;
    font-size: 12px;
    margin:0;
    padding:0;
}

.wallet {
    background-color: #895632;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "press start 2p";
    font-size: 20px;
    margin:25px 0 5px 0;
    padding: 12px 80px;
    transition: 1s ease-in-out 350ms;
    width:100%;
}

.wallet:hover {
    background: radial-gradient(circle, yellow 1%, orange 2%, firebrick 12%, red 35%, black 65%, black 80%, grey 84%, silver 81%, silver 89%, grey 91.5%, silver 92%, transparent 93.5%),
    repeating-linear-gradient(60deg, black 0.1%, black 0.2%, transparent 0.3%, transparent 0.4%),
    repeating-linear-gradient(1200deg, gray 0.1%, black 0.2%, gray 0.3%, black 0.4%);
    color: transparent;
}

.words {
    position: relative;
    margin-left: 30px;
    max-width: 645px;
    z-index:1;
}

@media (max-width:1000px) {
   
    #hero {
        margin-right: 18%;
    }
    
    .gallery {
        justify-content: space-evenly;
    }

    #screen {
        height:195vh;
        margin-bottom:-600px;
    }
    
    .words {
        margin: auto;
        padding-top: 200px;
        width:95%
    }

}

@media (max-width:630px) {
    
    h1 {
        font-size: 80px;
    }

    #hero {
        margin:0;
        width:100%;
    }

    .social {
        font-size: 13px;
    }
    
    .words {
        width:90%;
        padding:280px 10px 0 10px;
        margin:auto;
    }

}
